#meme-image-container {
  width: 300px;
  border: 1px solid black;
  background-color: white;
  position: relative;
}

#meme-text {
  position: absolute;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  word-wrap: break-word
}

#meme-image {
  width: 100%;
}
